#text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    width: 100%;
    
    word-wrap: break-word;
}

#satz{
    font-weight: bold;
}
.recording-row{
    margin-top: 20px;
    font-size: 12pt;
}

#center {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;    
    text-align:center;
    font-size: 40pt;

}
.name{
    margin-top: 10px;
    word-wrap: break-word;

    
}
.what-i-am-doing{
    margin-top:5px;
    word-wrap: break-word;
   
}
.wichtig{
    margin-top:20px;
    word-wrap: break-word;
}

 .option{
    margin-top: 30px;
    width:800px;
 }

.button-start {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
 
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 90px;
  height: 30px;
  
}

.button-start:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-start:hover {
  background-color: #2c974b;
}

.button-start:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-start:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-start:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
.button-pause {
  appearance: none;
  background-color: #dfbf0b;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
 
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 90px;
  height: 30px;
  
}

.button-pause:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-pause:hover {
  background-color: #e0b24f;
}

.button-pause:active {
  background-color: #967735;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.button-pause:disabled{
    background-color: #d3c270;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}


.button-stop {
  appearance: none;
  background-color: #b33d29;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
 
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 90px;
  height: 30px;
  
}

.button-stop:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-stop:hover {
  background-color: #a1321e;
}

.button-stop:active {
  background-color: #4d160c;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.button-stop:disabled{
    background-color: #d37070;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

#button-row{
    display:inline-block;
    margin: 5px;
    padding-top: 10px;
}

.zur-Umfrage{
    display:inline-block;
    margin: 5px;
    padding-top: 15px;
}


#stopwatch {
    font-size: 25px;
    padding-top: 5px;
	font-family: "Consolas",monospace; 
}

