<!DOCTYPE html>
{% load static %}
<html>
    <head>
         <!-- download jquery-->
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
         <!--------------------->
        <link rel="stylesheet" type="text/css" href = "{% static 'style.css' %}">
    </head>
    <body>
        <div id = 'text' class = "hello">
            Servus👋
        </div>
        <div id = 'text' class="name">
            Mein Name ist Bogdan Khamelyuk. 
        </div>
        <div id = 'text' class="what-i-am-doing"> 
            Ich bin Student im Studiengang „Elektrotechnik-Dual“ der FH Vorarlberg. 
            Zusammen mit den Betreuern arbeite ich an meiner Bachelorarbeit welche sich um das Thema der „Erkennung von in Dialekt gesprochenen Sätzen“ dreht. 
        </div>
        <div id = 'text' class="what-i-am-doing"> 
            Dafür brauche ich möglichst viele im Dialekt gesprochene Sätze – und somit deine Hilfe.
        </div>
        <div id = 'text' class="what-i-am-doing"> 
            Im folgendem wirst Du aufgefordert 21 Sätze, Befehle oder Wörter in deiner Mundart zu sprechen.
        </div>
        <div id = 'text' class="wichtig"> 
            Diese werden anonym abgelegt. Die Webpage speichert nur die folgenden Angaben die mir bei der Auswertung helfen:
        </div> 
        <div id = 'text' class="option">
            <label>Wie alt bist du?</label>
            <select id="alter" onChange = "getAlter()">
                <!--
                disable auto selection of the first value 
                so that choosing the first option can trigger function-->
                <option disabled="disabled" selected="selected"></option>
                <option value="10-20">10-20</option>
                <option value="21-30">21-30</option>
                <option value="31-40">31-40</option>
                <option value="41-50">41-50</option>
                <option value="51-60">51-60</option>
                <option value="61-70">61-70</option>
                <option value=">70">>70</option>
            </select>
        </div>
        <div id = 'text' class="option">
            <label>Was ist dein Geschlecht?</label>
            <select id="geschlecht" onChange = "getGeschlecht()">
                <!--
                disable auto selection of the first value 
                so that choosing the first option can trigger function-->
                <option disabled="disabled" selected="selected"></option>
                <option value="m">männlich</option>
                <option value="w">weiblich</option>
                <option value="kA">keine Angabe</option>
            </select>
        </div>
        <div id = 'text' class="option">
            <label>Mit welchem Dialekt assoziierst du dich am ehesten? </label>
            <select id="dialekt" onChange = "getDialekt()">
                <option disabled="disabled" selected="selected"></option>
                <option value="Brz">Bregenz</option>
                <option value="Drb/Hms">Dornbirn/Hohenems</option>
                <option value="Lst">Lustenau</option>
                <option value="Gtz">Götzis</option>
                <option value="Rwl">Rankweil/Feldkirch</option>
                <option value="Nzg">Nenzing</option>
                <option value="Blz">Bludenz</option>
                <option value="vW">vorderer Bregenzerwald</option>
                <option value="hW">hinterer Bregenzerwald</option>
                <option value="Mfn">Montafon</option>
                <option value="nVlbg">nicht aus Vorarlberg</option>
            </select>
        </div>

        <div id = "button-row" onclick= "validate()">
            <button id='nextPageBtn'>zum Text</button>
            <span id="submitError" style="color:red; font-family: Arial, Helvetica, sans-serif; font-size: 10pt"></span>
        </div>
       
        <script src="{% static 'homepage.js'%}"></script>
    </body>
</html>