<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- download jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!--------------------->
        <!-- downloading css stylesheet from static folder -->
        <link rel="stylesheet" type="text/css" href = "{% static 'style.css' %}">
        <!--------------------------------------------------->

    </head>

    <body>
        <div id="t1" class = "recording-row">
            <div id = 'text1'></div>
            <div id = 'button-row'>
                <button id="recordButton"  class = "button-start"> Start</button>
                <button id="stopButton" class = "button-stop" disabled> Stop/Save</button>
            </div>
        </div>

        <div id="t2" class = "recording-row">
            <div id = 'text2'></div>
            <div id = 'button-row'>
                <button id="recordButton"  class = "button-start"> Start</button>
                <button id="stopButton" class = "button-stop" disabled> Stop/Save</button>
            </div>
        </div>

        <div id="t3" class = "recording-row">
            <div id = 'text3'></div>
            <div id = 'button-row'>
                <button id="recordButton"  class = "button-start"> Start</button>
                <button id="stopButton" class = "button-stop" disabled> Stop/Save</button>
            </div>
        </div>

        <div id="t4" class = "recording-row">
            <div id = 'text4'></div>
            <div id = 'button-row'>
                <button id="recordButton"  class = "button-start"> Start</button>
                <button id="stopButton" class = "button-stop" disabled> Stop/Save</button>
            </div>
        </div>

       
        <div id = recordings></div>
        
        <!-- recorder.js - is the script for voice recording-->
        <script src="{% static 'recorder.js' %}"></script>
        <!----------------------------------------------------------->
        <!-- text.js - is for generating random texts-->
        <script src="{% static 'text.js' %}"></script>
        <!--------------------------------------------->
        <!-- stopwatch.js for time counting-->
      
    </body>
</html>
