<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- download jquery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!--------------------->
        <!-- downloading css stylesheet from static folder -->
        <link rel="stylesheet" type="text/css" href = "{% static 'style.css' %}">
        <!--------------------------------------------------->
        
    </head>
    <body>

        <div id = "text">
            <h2>Sprich den gegebenen Satz in deinem Dialekt aus:</h2>
            <i id="satz">
                wie ist das Wetter?
            </i>
        </div>
        <div class="recording-row">
            <input type="button" value="Start" id="startStopButton"></input>
            
            <a id="status">  bereit zu aufnehmen</a>
        </div>
        <div class="recording-row">
            <a id="satzNummer">1</a> <a>/21</a>
        </div>
        
            
           
    
  
        <script src="{% static 'recorder.js' %}"></script>

    </body>
</html>